APP_NAME=Storify
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://storify.test
APP_MAIN_DOMAIN=storify.test

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=storify_test
DB_USERNAME=root
DB_PASSWORD=

CACHE_STORE=array
MAIL_MAILER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
